

<div >
<img #mainimg src="assets/images/1.jpg" alt="Image" class="mainimg">
   <div #header class="header" >
    
        <div class="header-part"> 
            <h2>Summer collection</h2>
            <p>Summer alredy started, and you are just standing there<br> BUY SOME NEW SHIRTS!</p>
            <a routerLink="/Category" [queryParams]="{'category': 'T-shirt'}"> <button class="shopnow draw-border">SUMMER VIBES</button></a>
        </div>
    
        <div class="header-part"> 
            <h2>Winter collection</h2>
            <p>Checkout some new jackets we got here,<br> we have the best collection than others, dont waste this offer.</p>
            <a routerLink="/Category" [queryParams]="{'category': 'Jacket'}"> <button class="shopnow draw-border" style="margin-top:20px;">Jackets</button></a>
        </div>
    </div>
</div>
<div class="mb-15">
    <mat-tab-group class="mb-15">
        <mat-tab label="Hot picks">
            
            <carousel fxHide.lt-sm="true" [itemsPerSlide]="3" [isAnimated]="true" [showIndicators]="false"
                [interval]="5000">
                <slide *ngFor="let product of productService.getRecommended()">
                    <app-item [product]="product" class="rel-pos-item"></app-item>
                </slide>
            </carousel>
            <carousel fxHide.gt-xs="true" [itemsPerSlide]="2" [isAnimated]="true" [showIndicators]="false"
                [interval]="5000">
                <slide *ngFor="let product of productService.getRecommended()">
                    <app-item [product]="product" class="rel-pos-item"></app-item>
                </slide>
            </carousel>
            <carousel fxHide.gt-xs="true" [itemsPerSlide]="1" [isAnimated]="true" [showIndicators]="false"
                [interval]="5000">
                <slide *ngFor="let product of productService.getRecommended()">
                    <app-item [product]="product" class="rel-pos-item"></app-item>
                </slide>
            </carousel>
            
        </mat-tab>
    </mat-tab-group>
</div>

